.kitrecieved-postage{
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.other-fields {
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    /* background-color: red; */
}
.other-fields input{
    width: 100%;
}